{% extends "layout.html" %}
{% block header %}
<title>Greenhouse Settings</title>
{% endblock %}
{% block nav %}
<div id="spacer"></div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="pull-left">
      <a class="navbar-brand" href="{{ url_for('PlantsController.index') }}">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>
{% endblock%}
{% block body %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <div class="row">
      <h1>Greenhouse Settings</h1>
    </div>
  </div>
</div>
{% endblock %}
