{% extends "layout.html" %}
{% block header %}
<title>Greenhouse Settings</title>
{% endblock %}
{% block nav %}
<div id="spacer"></div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="pull-left">
      <a class="navbar-brand" href="{{ url_for('PlantsController.index') }}">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>
{% endblock%}
{% block body %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <div class="row">
      <h1>Greenhouse Settings</h1>
    </div>
    <form action="{{ url_for('GlobalSettingsController.create') }}" method="post">
      <h2>Control Settings</h2>
      {% for control in controls %}
        <div class="row control-row">
          <div class="form-inline">
            <div class="col-lg-1 col-lg-offset-2">
              <label class="setting-label">{{ control.name.title() }}</label>
              <input type="hidden" name="id" value="{{ control.id }}">
            </div>
            <div class="col-lg-8">
              {% if control.enabled %}
                <div class="form-group">
                  <input name="active_start" type="text" class="form-control time ui-timepicker-input" autocomplete="off" placeholder="Start Time" value="{{ control.active_start_time }}">
                </div>
                <div class="form-group">
                  <input name="active_end" type="text" class="form-control time ui-timepicker-input" autocomplete="off" placeholder="End Time" value="{{ control.active_end_time }}">
                </div>
              {% else %}
                <div class="form-group">
                  <input name="active_start" type="text" class="form-control ui-timepicker-input" autocomplete="off" placeholder="Start Time" disabled>
                </div>
                <div class="form-group">
                  <input name="active_end" type="text" class="form-control ui-timepicker-input" autocomplete="off" placeholder="End Time" disabled>
                </div>
              {% endif %}
              <div class="form-group">
                {% if control.enabled %}
                  {% if control.active %}
                    <a class="btn btn-warning" data-action="update-control" data-mode="temporary_disable" id="toggle_control_{{ control.id }}"><i class="fa fa-pause"></i></a>
                  {% else %}
                    <a class="btn btn-success" data-action="update-control" data-mode="activate" id="toggle_control_{{ control.id }}"><i class="fa fa-play"></i></a>
                  {% endif %}
                {% else %}
                  <a class="btn btn-success disabled" data-action="update-control" data-mode="activate" id="toggle_control_{{ control.id }}"><i class="fa fa-play"></i></a>
                {% endif %}
              </div>
              <div class="form-group">
                {% if control.enabled %}
                  <input type="checkbox" name="enabled" value="{{ control.id }}" checked>
                {% else %}
                  <input type="checkbox" name="enabled" value="{{ control.id }}">
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <h2>Notification Settings</h2>
      <h3>Delivery</h3>
      <div class="row control-row">
        <div class="col-sm-2 col-sm-offset-4">
          <label class="setting-label">Push</label>
        </div>
        <div class="col-sm-2">
          <input type="checkbox" name="push" {% if notification_settings["push"] %}checked{% endif %}>
        </div>
      </div>
      <div class="row control-row">
        <div class="col-sm-2 col-sm-offset-4">
          <label class="setting-label">Email</label>
        </div>
        <div class="col-sm-2">
          <input type="checkbox" name="email" {% if notification_settings["email"] %}checked{% endif %}>
        </div>
      </div>
      <h3>Circumstances</h3>
      <div class="row control-row">
        <div class="col-sm-2 col-sm-offset-4">
          <label class="setting-label">Plant Conditions</label>
        </div>
        <div class="col-sm-2">
          <input type="checkbox" name="notify_plants" {% if notify_plants %}checked{% endif %}>
        </div>
      </div>
      <div class="row control-row">
        <div class="col-sm-2 col-sm-offset-4">
          <label class="setting-label">Maintenance</label>
        </div>
        <div class="col-sm-2">
          <input type="checkbox" name="notify_maintenance" {% if notify_maintenance %}checked{% endif %}>
        </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='js/global_settings/index.js') }}"></script>
{% endblock %}
